.syns .syn p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.syns .syn {
  border-bottom: solid gray 1px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
}

.syns .syn .synset {
  height: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.syns .syn .controls {
  padding-left: 15px;
}
.syns .syn .words {
  padding-left: 15px;
}
